*{
    margin: 0px;
}

a{
    text-decoration: none;
}

nav {
    background-color: burlywood;
    display: flex;
    padding: 0px;
}


nav .Left{
    padding: 20px;
    border: solid white;
    border-radius: 0% 10% 10% 0%;
    flex: 50%;
    display: flex;
    align-items: center;
}

nav .Left li{
    background: rgb(222, 184, 135);
    border: solid white 2px;
    border-radius: 30%;
    display: inline;
    margin: 100px;
    padding: 10px;
}


nav .Right{
    padding: 20px ;
    border: solid white ;
    border-radius: 10% 0px 0px 10%;
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .Right a{
    background: rgb(222, 184, 135);
    border: solid white 2px;
    border-radius: 30%;
    display: inline;
    margin: 10px;
    padding: 10px 10px;

}

.Container{


}

.Container .Section{
    display: flex;
    background-color: white;
}
.Container .Section .Left{
    flex: 30%;
    border-radius: 0px;
    margin: 10px 20px;
    background-color: whitesmoke;
}

.Container .Section .Right{
    flex: 70%;
    border-radius: 0px;
    background-color: rgb(255, 255, 255);
    justify-content: left;
    align-items: flex-start;
    
    
    
}

.Skillset{
    display: flex;
}
